USE [master]
GO
/****** Object:  Database [ZAPATILLAS]    Script Date: 21/03/2023 10:38:02 ******/
CREATE DATABASE [ZAPATILLAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZAPATILLAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\ZAPATILLAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZAPATILLAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\ZAPATILLAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZAPATILLAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZAPATILLAS]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 21/03/2023 10:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IDCATEGORIA] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[DESCRIPCION] [nvarchar](60) NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[IDCATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZAPATILLAS]    Script Date: 21/03/2023 10:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZAPATILLAS](
	[IDZAPATILLA] [int] NOT NULL,
	[IDCATEGORIA] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[TALLA] [decimal](10, 2) NOT NULL,
	[UNIDADESTOCK] [int] NOT NULL,
	[DESCRIPCION] [nvarchar](50) NOT NULL,
	[IMAGEN] [nvarchar](100) NULL,
	[PRECIO] [decimal](10, 2) NULL,
 CONSTRAINT [PK_ZAPATILLAS] PRIMARY KEY CLUSTERED 
(
	[IDZAPATILLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_ZAPATILLAS_CATEGORIA]    Script Date: 21/03/2023 10:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_ZAPATILLAS_CATEGORIA]
AS

SELECT Z.IDZAPATILLA, Z.NOMBRE, Z.TALLA, Z.UNIDADESTOCK, Z.DESCRIPCION, Z.IMAGEN, Z.PRECIO, C.NOMBRE AS NOMBRECATEGORIA FROM ZAPATILLAS Z
INNER JOIN CATEGORIA C
ON Z.IDCATEGORIA = C.IDCATEGORIA
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 21/03/2023 10:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[IDUSUARIO] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[DNI] [nvarchar](9) NOT NULL,
	[DIRECCION] [nvarchar](50) NOT NULL,
	[TELEFONO] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](60) NOT NULL,
	[SALT] [nvarchar](50) NULL,
	[PASSWORD] [varbinary](max) NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 21/03/2023 10:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS](
	[IDVENTA] [int] NOT NULL,
	[IDZAPATILLA] [int] NOT NULL,
	[IDUSUARIO] [int] NOT NULL,
	[NUMEROCOMPROBANTE] [nvarchar](50) NULL,
	[FECHA] [datetime] NULL,
	[IMPUESTO] [int] NULL,
	[TOTAL] [int] NULL,
 CONSTRAINT [PK_VENTAS] PRIMARY KEY CLUSTERED 
(
	[IDVENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CATEGORIA] ([IDCATEGORIA], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Basketball', N'Zapatillas destinadas a practicar basket')
INSERT [dbo].[CATEGORIA] ([IDCATEGORIA], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Futbol', N'Zapatillas destinadas para practicar futbol')
INSERT [dbo].[CATEGORIA] ([IDCATEGORIA], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Skate', N'Zapatillas destinadas para practicar skate')
GO
INSERT [dbo].[USUARIOS] ([IDUSUARIO], [NOMBRE], [DNI], [DIRECCION], [TELEFONO], [EMAIL], [SALT], [PASSWORD]) VALUES (1, N'Javier Pantoja', N'2323241L', N'Calle Jupiter 23', N'2324242', N'javier@admin.com', NULL, NULL)
INSERT [dbo].[USUARIOS] ([IDUSUARIO], [NOMBRE], [DNI], [DIRECCION], [TELEFONO], [EMAIL], [SALT], [PASSWORD]) VALUES (2, N'Juan Costilla', N'2323212P', N'Avenida America 23', N'6823287', N'Juanito@correo.es', NULL, NULL)
INSERT [dbo].[USUARIOS] ([IDUSUARIO], [NOMBRE], [DNI], [DIRECCION], [TELEFONO], [EMAIL], [SALT], [PASSWORD]) VALUES (3, N'Sergio Fantasci', N'0832392A', N'Avenida Mar Egeo 2', N'8349934', N'SergiF@correo.es', NULL, NULL)
GO
INSERT [dbo].[VENTAS] ([IDVENTA], [IDZAPATILLA], [IDUSUARIO], [NUMEROCOMPROBANTE], [FECHA], [IMPUESTO], [TOTAL]) VALUES (1, 1, 2, N'111', CAST(N'2023-02-12T00:00:00.000' AS DateTime), 40, 139)
INSERT [dbo].[VENTAS] ([IDVENTA], [IDZAPATILLA], [IDUSUARIO], [NUMEROCOMPROBANTE], [FECHA], [IMPUESTO], [TOTAL]) VALUES (2, 2, 3, N'222', CAST(N'2022-12-22T00:00:00.000' AS DateTime), 30, 150)
INSERT [dbo].[VENTAS] ([IDVENTA], [IDZAPATILLA], [IDUSUARIO], [NUMEROCOMPROBANTE], [FECHA], [IMPUESTO], [TOTAL]) VALUES (3, 3, 4, N'333', CAST(N'2021-03-24T00:00:00.000' AS DateTime), 40, 110)
GO
INSERT [dbo].[ZAPATILLAS] ([IDZAPATILLA], [IDCATEGORIA], [NOMBRE], [TALLA], [UNIDADESTOCK], [DESCRIPCION], [IMAGEN], [PRECIO]) VALUES (1, 1, N' UNDER ARMOUR LOCKDOWN 6', CAST(45.00 AS Decimal(10, 2)), 30, N'Zapatillas UnderArmor', N'https://underarmourcol.vtexassets.com/arquivos/ids/514259/3025616-600_RE9_2.png?v=638007680475200000', CAST(99.99 AS Decimal(10, 2)))
INSERT [dbo].[ZAPATILLAS] ([IDZAPATILLA], [IDCATEGORIA], [NOMBRE], [TALLA], [UNIDADESTOCK], [DESCRIPCION], [IMAGEN], [PRECIO]) VALUES (2, 1, N'NIKE PERFORMANCE KD 4', CAST(45.00 AS Decimal(10, 2)), 45, N'Zapatillas Nike KD, gama alta', N'https://static.runnea.com/images/prices/sneakers-nike-air-jordan-legacy-312-nike-10013733638.png', CAST(120.00 AS Decimal(10, 2)))
INSERT [dbo].[ZAPATILLAS] ([IDZAPATILLA], [IDCATEGORIA], [NOMBRE], [TALLA], [UNIDADESTOCK], [DESCRIPCION], [IMAGEN], [PRECIO]) VALUES (3, 1, N'Jordan Whynot? Zero.2', CAST(43.00 AS Decimal(10, 2)), 70, N'Zapatillas Jordan usadas por Russel WestBrook', N'https://inussualbasket.com/wp-content/uploads/2020/03/cd3003-003-parte-izquierda.jpg', CAST(72.50 AS Decimal(10, 2)))
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_USUARIOS] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIOS] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_USUARIOS]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_ZAPATILLAS] FOREIGN KEY([IDZAPATILLA])
REFERENCES [dbo].[ZAPATILLAS] ([IDZAPATILLA])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_ZAPATILLAS]
GO
ALTER TABLE [dbo].[ZAPATILLAS]  WITH CHECK ADD  CONSTRAINT [FK_ZAPATILLAS_CATEGORIA] FOREIGN KEY([IDCATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([IDCATEGORIA])
GO
ALTER TABLE [dbo].[ZAPATILLAS] CHECK CONSTRAINT [FK_ZAPATILLAS_CATEGORIA]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETZAPATILLASID]    Script Date: 21/03/2023 10:38:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GETZAPATILLASID](@IDZAPATILLA INT)
AS
	SELECT NOMBRE FROM ZAPATILLAS WHERE IDZAPATILLA = @IDZAPATILLA
GO
USE [master]
GO
