USE [master]
GO
/****** Object:  Database [ZAPATILLAS]    Script Date: 13/03/2023 9:03:40 ******/
CREATE DATABASE [ZAPATILLAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZAPATILLAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\ZAPATILLAS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ZAPATILLAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\ZAPATILLAS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZAPATILLAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZAPATILLAS]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 13/03/2023 9:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[IDCATEGORIA] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[DESCRIPCION] [nvarchar](60) NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[IDCATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZAPATILLAS]    Script Date: 13/03/2023 9:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZAPATILLAS](
	[IDZAPATILLA] [int] NOT NULL,
	[IDCATEGORIA] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[TALLA] [decimal](10, 2) NOT NULL,
	[UNIDADESTOCK] [int] NOT NULL,
	[DESCRIPCION] [nvarchar](50) NOT NULL,
	[IMAGEN] [nvarchar](100) NULL,
	[PRECIO] [decimal](10, 2) NULL,
 CONSTRAINT [PK_ZAPATILLAS] PRIMARY KEY CLUSTERED 
(
	[IDZAPATILLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_ZAPATILLAS_CATEGORIA]    Script Date: 13/03/2023 9:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_ZAPATILLAS_CATEGORIA]
AS

SELECT Z.IDZAPATILLA, Z.NOMBRE, Z.TALLA, Z.UNIDADESTOCK, Z.DESCRIPCION, Z.IMAGEN, Z.PRECIO, C.NOMBRE AS NOMBRECATEGORIA FROM ZAPATILLAS Z
INNER JOIN CATEGORIA C
ON Z.IDCATEGORIA = C.IDCATEGORIA
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 13/03/2023 9:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[IDUSUARIO] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[DNI] [nvarchar](9) NOT NULL,
	[DIRECCION] [nvarchar](50) NOT NULL,
	[TELEFONO] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](60) NOT NULL,
	[SALT] [nvarchar](50) NULL,
	[CONTRASEÑA] [nvarchar](50) NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 13/03/2023 9:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS](
	[IDVENTA] [int] NOT NULL,
	[IDZAPATILLA] [int] NOT NULL,
	[IDUSUARIO] [int] NOT NULL,
	[NUMEROCOMPROBANTE] [nvarchar](50) NULL,
	[FECHA] [datetime] NULL,
	[IMPUESTO] [int] NULL,
	[TOTAL] [int] NULL,
 CONSTRAINT [PK_VENTAS] PRIMARY KEY CLUSTERED 
(
	[IDVENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_USUARIOS] FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIOS] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_USUARIOS]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_ZAPATILLAS] FOREIGN KEY([IDZAPATILLA])
REFERENCES [dbo].[ZAPATILLAS] ([IDZAPATILLA])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_ZAPATILLAS]
GO
ALTER TABLE [dbo].[ZAPATILLAS]  WITH CHECK ADD  CONSTRAINT [FK_ZAPATILLAS_CATEGORIA] FOREIGN KEY([IDCATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([IDCATEGORIA])
GO
ALTER TABLE [dbo].[ZAPATILLAS] CHECK CONSTRAINT [FK_ZAPATILLAS_CATEGORIA]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETZAPATILLASID]    Script Date: 13/03/2023 9:03:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GETZAPATILLASID](@IDZAPATILLA INT)
AS
	SELECT NOMBRE FROM ZAPATILLAS WHERE IDZAPATILLA = @IDZAPATILLA
GO
USE [master]
GO
