<h1>CARRITO</h1>

<table class="table table-info">
    <thead>
        <tr>
            <th scope="col">ZAPATILLA: </th>
            <th scope="col">TALLA: </th>
            <th scope="col">PRECIO: </th>
            <th scope="col">Handle</th>
            <th>IMAGEN: </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td></td>
        </tr>
        <button class="btn btn-info">
            Comprar
        </button>
     
    </tbody>
</table>
