@model List<Zapatilla>

@{
	ViewData["Title"] = "Pedidos";
	int precio = 0;
}
<html>
<head>
</head>
<body>
	<style>
		table {
			width: 750px;
			border-collapse: collapse;
			margin: 50px auto;
		}

		/* Zebra striping */
		tr:nth-of-type(odd) {
			background: #eee;
		}

		th {
			background: #3498db;
			color: white;
			font-weight: bold;
		}

		td, th {
			padding: 10px;
			border: 1px solid #ccc;
			text-align: left;
			font-size: 18px;
		}

		@@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

			table {
				width: 100%;
			}
			/* Force table to not be like tables anymore */
			table, thead, tbody, th, td, tr {
				display: block;
			}
				/* Hide table headers (but not display: none;, for accessibility) */
				thead tr {
					position: absolute;
					top: -9999px;
					left: -9999px;
				}

			tr {
				border: 1px solid #ccc;
			}

			td {
				/* Behave  like a "row" */
				border: none;
				border-bottom: 1px solid #eee;
				position: relative;
				padding-left: 50%;
			}

				td:before {
					/* Now like a table header */
					position: absolute;
					/* Top/left values mimic padding */
					top: 6px;
					left: 6px;
					width: 45%;
					padding-right: 10px;
					white-space: nowrap;
					/* Label the data */
					content: attr(data-column);
					color: #000;
					font-weight: bold;
				}
		}
	</style>

	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Talla</th>
				<th>Precio</th>
				<th>Imagen</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Zapatilla zap in Model)
			{
				<tr>
					<td data-column="First Name">@zap.Nombre</td>
					<td data-column="Last Name">@zap.Talla</td>
					<td data-column="Job Title">@zap.Precio</td>
					<td data-column="Twitter">
						<img src="@zap.Imagen" style="height:300px; width:250px">
					</td>
				</tr>
			}


		</tbody>
	</table>
</body>
</html>
